@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", cursive;
  list-style: none;
  text-decoration: none;
}

body {
    color: #210B2C;
    background-color: #ffebec91;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    height: 100%;
}

h2 {
    font-family: 'Architects Daughter', cursive;  
    text-decoration: underline #F48498;
    letter-spacing: 12px;
    transition: all ease 0.3s;
    font-size: 4rem;
    color: #55286F;
}

h2:hover {
    letter-spacing: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    margin: 30px;
}

.saldo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    justify-items: flex-start;
    grid-template-areas:
    "text btn"
    "h1 btn"
    ;
}

h1 {
    letter-spacing: .5px;
    margin: 0;
    color: #55286F;
    transition: all ease .3s;
    grid-area: h1;
    font-size: 1.5rem;
    align-self: center;
}

.saldo button {
    grid-area: btn;
    justify-self: flex-end;
    margin-right: 10px;
}

.saldo button:hover {
    letter-spacing: 1.5px;
}

.receitas-texto {
    grid-area: text;
}

h3 {
    border-bottom: 1px solid #ff999e;
    opacity: 0.5;
    padding-bottom: 2px;
    margin: 25px 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h4 {
    text-transform: uppercase;
    color: #FF999E;
    font-size: 1.025rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.inc-exp-container {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
}
  
.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1.25px solid #dedede;
}

.money {
    font-size: 1.5rem;
    margin-top: 10px;
}
  
.money.plus {
    color: #ACD8AA;
    transition: all ease 0.3s;
}
  
.money.minus {
    color: #F48498;
    transition: all ease 0.3s;
}

h1:hover,
.money.minus:hover,
.money.plus:hover {
  letter-spacing: 1px;
}

label {
    display:block;
    margin: 14px 0 0 10px;
    font-family: "Nunito";
    font-weight: 700;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition: ease all 0.4s;
  margin: 10px 0;
  outline: none;
}

input[type='text']:hover,
input[type='number']:hover {
  letter-spacing: 0.5px;
}

.amont-div {
    display: flex;
    align-self: flex-start;
}

.amont-div label {
    display: block;
}

.btn {
  cursor: pointer;
  background-color: #F48498;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
  border-radius: 50px;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 15px;
  width: 100%;
  letter-spacing: 2px;
  transition: 0.3s ease all;
}

.btn:hover {
  background-color: #ff999ede;
  box-shadow: 0px 0px 20px #F48498;
  letter-spacing: 3px;
  font-weight: 700;
  color: #55286F;
  transform: scale3d(1.03, 1.03, 1.03);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
    padding: 0;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}
  
.transactions li {
    background-color: #fff;
    color: #210B2C;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    z-index: 1;
    transition: 0.3s all ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
}

.transactions li:hover {
    width: 92.5%;
}
  
.transactions li.plus {
    border-right: 5px solid #ACD8AA;
}

.transactions li.plus:hover {
    border-right: 3.5px solid #ACD8AA;
}
  
.transactions li.minus {
    border-right: 5px solid #F48498;
}

.transactions li.minus:hover {
    border-right: 3.5px solid #F48498;
}
  
.delete-btn {
    cursor: pointer;
    background-color: #F48498;
    border: 0;
    color: #fff;
    font-size: 1rem;
    padding: 0 6px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(2%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 50px;
    z-index: 0;
}
  
.transactions li:hover .delete-btn {
    opacity: 1;
    transform: translate(-130%, -50%);
}

.form {
    position: fixed;
    background-color: rgb(252, 252, 252);
    width: 90%;
    padding: 0 12.5px;
    border-radius: 7px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    margin-top: 150px;
    display: none;
}

.close-button {
    border: none;
    background-color: transparent;
    padding: 2px 6px;
    border-radius: 50%;
}

.form-control {
    width: 100%;
}

.fa-times {
    cursor: pointer;
}

.close-button-div {
    display: flex;
    justify-content: space-between;
}

.blur {
    filter: blur(10px);
}

.inc-add {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    margin: 20px 0px;
}

.add-button {
    border: none;
    background-color: transparent;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    transition: 0.3s all ease-in-out;
}

.add-button:hover {
    letter-spacing: 2px;
}

.inc-exp-add > div {
    flex: 1;
    text-align: center;
}

.inc-button {
    color: #ACD8AA;
    border-radius: 10px 0px 0px 10px;
    border-left: 1.5px solid #ACD8AA;
    padding: 5px 0px 5px 25px;
}

.inc-button:hover {
    border-left: 5.5px solid #ACD8AA;
}

.inc-button:focus {
    outline: 0;
}

.exp-button {
    color: #F48498;  
    border-radius: 0px 10px 10px 0px;
    border-right: 1.5px solid #F48498;
    padding: 5px 25px 5px 0px;
}

.exp-button:hover {
    border-right: 5.5px solid #F48498;
}

.exp-button:focus {
    outline: 0;
}

.division {
    background-color: #dedede;
    width: 1px;
    height: 45px;
    align-self: center;
    margin: 0;
    padding: 0;
}

.download {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download a {
    color: #F48498;
    font-size: 2rem;
}

.open-add_button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 7px;
    border: none;
    background-color: #ff2e60;
    opacity: 1;
    cursor: pointer;
    transition: all ease 0.4s;
    transform: translateY(-20px);
}

.open-add-button-area {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
    overflow: visible;
    height: 30px;
    width: 100%;
    z-index: 1000;
}

.open-add_button:hover {
    border-radius: 10px;
}

.fa-plus { 
    color: #fff;
    font-size: 1.5rem;
    transition: all ease 0.3s;
}

.rotate {
    transform: rotate(45deg);
}

.logs-name {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}